.oh-popup-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  pointer-events: auto;
}

.oh-popup {
  position: fixed;
  pointer-events: auto;
  -webkit-overflow-scrolling: touch;
  ::-webkit-scrollbar {
    display: none;
  }

  &--top {
    left: 0;
    top: 0;
    width: 100%;
  }

  &--bottom {
    left: 0;
    bottom: 0;
    width: 100%;
  }

  &--left {
    top: 0;
    left: 0;
    width: auto;
    max-width: 100%;
  }

  &--right {
    top: 0;
    right: 0;
    width: auto;
    max-width: 100%;
  }

  &--center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }
}

// animations

.oh-popup {
  /* fade */
  &-fade-enter-from,
  &-fade-leave-to {
    opacity: 0;
  }

  &-fade-enter-active,
  &-fade-leave-active {
    transition: opacity, visibility;
  }

  &-fade-enter-to,
  &-fade-leave-from {
    opacity: 1;
  }

  /* slide-left */
  &-slide-left-enter-from,
  &-slide-left-leave-to {
    transform: translate(100%, 0);
  }

  &-slide-left-enter-active,
  &-slide-left-leave-active {
    transition: transform;
  }

  &-slide-left-enter-to,
  &-slide-left-leave-from {
    transform: translate(0, 0);
  }

  /* slide-up */
  &-slide-up-enter-from,
  &-slide-up-leave-to {
    transform: translate(0, 100%);
  }

  &-slide-up-enter-active,
  &-slide-up-leave-active {
    transition: transform;
  }

  &-slide-up-enter-to,
  &-slide-up-leave-from {
    transform: translate(0, 0);
  }

  /* slide-right */
  &-slide-right-enter-from,
  &-slide-right-leave-to {
    transform: translate(-100%, 0);
  }

  &-slide-right-enter-active,
  &-slide-right-leave-active {
    transition: transform;
  }

  &-slide-right-enter-to,
  &-slide-right-leave-from {
    transform: translate(0, 0);
  }

  /* slide-down */
  &-slide-down-enter-from,
  &-slide-down-leave-to {
    transform: translate(0, -100%);
  }

  &-slide-down-enter-active,
  &-slide-down-leave-active {
    transition: transform;
  }

  &-slide-down-enter-to,
  &-slide-down-leave-from {
    transform: translate(0, 0);
  }
}
