.oh-popup-mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  overflow: hidden;
  pointer-events: auto;
}

.oh-popup {
  position: fixed;
  pointer-events: auto;
  -webkit-overflow-scrolling: touch;
  ::-webkit-scrollbar {
    display: none;
  }

  &--top {
    left: 0;
    top: 0;
    width: 100%;
  }

  &--bottom {
    left: 0;
    bottom: 0;
    width: 100%;
  }

  &--left {
    top: 0;
    left: 0;
    width: auto;
    max-width: 100%;
  }

  &--right {
    top: 0;
    right: 0;
    width: auto;
    max-width: 100%;
  }

  &--center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
  }
}

// animations

.oh-popup {
  /* fade */
  &-fade-preEnter,
  &-fade-exited {
    opacity: 0;
  }

  &-fade-entering,
  &-fade-entered {
    opacity: 1;
    transition: opacity, visibility;
  }

  &-fade-preExit {
    opacity: 1;
  }

  &-fade-exiting {
    opacity: 0;
    transition: opacity, visibility;
  }

  /* slide-left */
  &--right,
  &-slide-left-preEnter,
  &-slide-left-exited {
    transform: translate(100%, 0);
  }

  &-slide-left-entering,
  &-slide-left-entered {
    transform: translate(0, 0);
    transition: transform;
  }

  &-slide-left-preExit {
    transform: translate(0, 0);
  }

  &-slide-left-exiting {
    transform: translate(100%, 0);
    transition: transform;
  }

  /* slide-up */
  &--bottom,
  &-slide-up-preEnter,
  &-slide-up-exited {
    transform: translate(0, 100%);
  }

  &-slide-up-entering,
  &-slide-up-entered {
    transform: translate(0, 0);
    transition: transform;
  }

  &-slide-up-preExit {
    transform: translate(0, 0);
  }

  &-slide-up-exiting {
    transform: translate(0, 100%);
    transition: transform;
  }

  /* slide-right */
  &--left,
  &-slide-right-preEnter,
  &-slide-right-exited {
    transform: translate(-100%, 0);
  }

  &-slide-right-entering,
  &-slide-right-entered {
    transform: translate(0, 0);
    transition: transform;
  }

  &-slide-right-preExit {
    transform: translate(0, 0);
  }

  &-slide-right-exiting {
    transform: translate(-100%, 0);
    transition: transform;
  }

  /* slide-down */
  &--top,
  &-slide-down-preEnter,
  &-slide-down-exited {
    transform: translate(0, -100%);
  }

  &-slide-down-entering,
  &-slide-down-entered {
    transform: translate(0, 0);
    transition: transform;
  }

  &-slide-down-preExit {
    transform: translate(0, 0);
  }

  &-slide-down-exiting {
    transform: translate(0, -100%);
    transition: transform;
  }
}
